.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }
  
  h1 {
    font-size: 4.2rem;
  }
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #ff5d8f,
        0 0 80px #ff5d8f,
        0 0 90px #ff5d8f,
        0 0 100px #ff5d8f,
        0 0 150px #ff5d8f;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  
  /* Additional styling */
    
  h2 {
   font-size: 1.8rem;
  }

  
  body {
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }  
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }

  #canvas {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    bottom: .15rem;
}